{% extends 'base.html' %}

{% block content %}

<h1 class="random-bg">Food Nutrition</h1>
{% if current_user %}
<h3>Welcome to the Food Nutrition App, {{ current_user['first_name'] }}</h3>

<section class="controls">
  <form action="/sessions/delete" method="POST">
    <button>Log out</button>
  </form>

<style>
body {
    margin: 0;
    padding: 0;
}


</style>
  
<script>
  window.onload = function() {
    var randomColor = Math.floor(Math.random() * 16777215).toString(16);
    document.body.style.backgroundColor = "#" + randomColor;
};
  </script>

  <a href="/foods/new">Add food item</a>
  
  
</section>

<h3>Search by calories</h3>
  <form method="POST" action="/">
    <label for="calorie_amount">Enter calorie amount:</label>
    <input type="number" id="calorie_amount" name="calorie_amount" required>
    <button type="submit">Search</button>


<section class="foods">

  {% for food in foods: %}
  <section class="food">
    
    <header>
      
      <h2>{{ food['name']}}</h2>
      <h2>{{ food ['calories']}}</h2>
      <h2>{{ food ['protein']}}</h2>
      <h2>{{ food ['carbohydrates']}}</h2>

      <section class="controls">
        <a href="/foods/{{ food['id'] }}/edit">Edit</a>

        <form action="/foods/{{ food['id'] }}/delete" method="POST">
          <button>Delete</button>
        </form>

        <form action="/foods/{{ food['id'] }}/likes" method="POST">
          <button>Like</button>
        </form>
      </section>
    </header>

    <img src="{{ food['image_url'] }}" alt="">
  </section>
  {% endfor %}
</section>
{% else %}
<a href="/users/new">Sign up</a>
<a href="/sessions/new">Log in</a>

{% endif %}

{% endblock %}

