{% extends 'base.html' %}

{% block content %}

<h1 class="random-bg">Food Nutrition</h1>
{% if current_user %}
<h3>Welcome to the Food Nutrition App, {{ current_user['first_name'] }}</h3>

<section class="controls">
  <form action="/sessions/delete" method="POST">
    <button>Log out</button>
  </form>

   
  <a href="/foods/new">Add food item</a>
</section>


<section class="foods">
  <p></p>
  {% for food in foods: %}
  <section class="food">
    <header>
      <p>Total Items: {{ count }}</p>
      <h2>{{ food['name']}}</h2>
      <h2>{{ food ['calories']}}</h2>
      <h2>{{ food ['protein']}}</h2>
      <h2>{{ food ['carbohydrates']}}</h2>

      <section class="controls">
        <a href="/foods/{{ food['id'] }}/edit">Edit</a>

        <form action="/foods/{{ food['id'] }}/delete" method="POST">
          <button>Delete</button>
        </form>

        <form action="/foods/{{ food['id'] }}/likes" method="POST">
          <button>Like</button>
        </form>
      </section>
    </header>

    <img src="{{ food['image_url'] }}" alt="">
  </section>
  {% endfor %}
</section>
{% else %}
<a href="/users/new">Sign up</a>
<a href="/sessions/new">Log in</a>
{% endif %}

{% endblock %}


